.container{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 12px;
}
.container input{
    padding: 15px;
    font-size:large;
}
.container label{
    padding: 15px;
    font-size:large;
}
.buttonContainer{
    display: grid;
    grid-template-columns: auto auto auto;
}
.buttonContainer input, .buttonContainer button{
    padding: 15px;
    font-size:large;
}